In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
gene = pd.read_csv(r"C:\Users\Ranajoy Bhattacharya\Downloads\gene_data_anomaly (1).csv")
meta = pd.read_csv(r"C:\Users\Ranajoy Bhattacharya\Downloads\MetaData (1).csv")
gene.head()

,symbol,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S21,S22,S23,S24,S25,S26,S27,S28,S29,S30
0,Zzz3,253.401685,402.850878,230.957463,688.486264,358.067836,344.962350,441.155001,301.149694,390.361685,...,507.882774,465.081486,415.478767,297.061149,488.848114,367.912141,307.199908,347.802509,411.227261,283.709694
1,Zzef1,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,...,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797
2,Zyx,40.578958,49.235160,59.472005,46.212152,61.969671,55.732843,53.819870,54.315691,73.016585,...,33.512262,36.751853,36.952457,35.718610,27.346198,32.647887,42.006833,32.324596,41.426033,32.754971
3,Zyg11b,26.373102,35.001901,32.389728,34.932372,35.192365,33.858459,27.948378,21.152797,32.283053,...,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797
4,Zyg11a,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,...,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797,21.152797

In [3]:
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

gene.shape

(22383, 31)

In [4]:
meta.head()

  sIdx  Time   Unit
0   S1     9  Hours
1   S2     9  Hours
2   S3     9  Hours
3   S4     7  Hours
4   S5     7  Hours

In [5]:
#Check for nulls
gene.isnull().sum()

symbol     0
S1        67
S2        67
S3        60
S4        51
S5        60
S6        56
S7        61
S8        63
S9        61
S10       64
S11       65
S12       64
S13       51
S14       58
S15       63
S16       63
S17       62
S18       60
S19       61
S20       65
S21       63
S22       51
S23       51
S24       48
S25       61
S26       62
S27       66
S28       53
S29       57
S30       56
dtype: int64

In [6]:
gene[gene.symbol == 'Zmym6']

,symbol,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S21,S22,S23,S24,S25,S26,S27,S28,S29,S30
63,Zmym6,NaN,648.590782,615.078366,559.695346,819.166506,573.146122,797.685258,742.66541,649.458916,...,408.90803,736.893488,414.124161,395.868775,476.199601,421.694505,398.827926,557.137278,504.222173,1443.375594

In [7]:
l = list(meta['Time'].unique())
# print(l)
for i in l:
    df = list(meta[meta['Time'] == i]['sIdx'])
    print(df)
    
    #take the values into columns
    col1 = df[0]
    col2 = df[1]
    col3 = df[2]
    
    #all 3 nulls
    gene = gene[~(gene[col1].isna() & gene[col2].isna() & gene[col3].isna())]

    #any 2 nulls
    gene.loc[gene[col1].isna() & gene[col2].isna() , [col1, col2]] = gene[col3]
    gene.loc[gene[col1].isna() & gene[col3].isna() , [col1, col3]] = gene[col2]
    gene.loc[gene[col3].isna() & gene[col2].isna() , [col3, col2]] = gene[col1]

    #any 1 null
    gene.loc[gene[col1].isna(), [col1]] = (gene[col2] + gene[col3])/2
    gene.loc[gene[col2].isna(), [col2]] = (gene[col1] + gene[col3])/2
    gene.loc[gene[col3].isna(), [col3]] = (gene[col2] + gene[col1])/2

['S1', 'S2', 'S3']
['S4', 'S5', 'S6']
['S7', 'S8', 'S9']
['S10', 'S11', 'S12']
['S13', 'S14', 'S15']
['S16', 'S17', 'S18']
['S19', 'S20', 'S21']
['S22', 'S23', 'S24']
['S25', 'S26', 'S27']
['S28', 'S29', 'S30']

In [8]:
#Check for nulls
gene.isnull().sum()

symbol    0
S1        0
S2        0
S3        0
S4        0
S5        0
S6        0
S7        0
S8        0
S9        0
S10       0
S11       0
S12       0
S13       0
S14       0
S15       0
S16       0
S17       0
S18       0
S19       0
S20       0
S21       0
S22       0
S23       0
S24       0
S25       0
S26       0
S27       0
S28       0
S29       0
S30       0
dtype: int64

In [9]:
gene.shape

(22164, 31)

In [10]:
print(gene[gene.symbol == 'Zmym6'])
print(gene[gene.symbol == 'Hsh2d'])

   symbol          S1          S2          S3          S4          S5  \
63  Zmym6  631.834574  648.590782  615.078366  559.695346  819.166506

            S6          S7         S8          S9  ...        S21         S22  \
63  573.146122  797.685258  742.66541  649.458916  ...  408.90803  736.893488

           S23         S24         S25         S26         S27         S28  \
63  414.124161  395.868775  476.199601  421.694505  398.827926  557.137278

           S29          S30
63  504.222173  1443.375594

[1 rows x 31 columns]
      symbol         S1         S2         S3         S4         S5  \
12877  Hsh2d  61.446378  61.446378  61.446378  47.350935  48.823749

              S6         S7         S8         S9  ...       S21        S22  \
12877  65.912579  55.761715  55.448118  59.322343  ...  106.4767  76.155684

             S23        S24        S25        S26        S27        S28  \
12877  69.659415  98.875838  99.528299  89.946493  73.897467  66.071454

             S29        S30
12877  52.450426  67.529258

[1 rows x 31 columns]

In [11]:
print(gene[gene.symbol == 'Zmym6']['S2'])
print(gene[gene.symbol == 'Zmym6']['S3'])

63    648.590782
Name: S2, dtype: float64
63    615.078366
Name: S3, dtype: float64

In [ ]:
gene[['symbol','diff']].head(100)

In [14]:
gene.to_csv('Ranajoy_Bhattacharya_MissingValueTreatedonGenes.csv',index=False)